html{
    height: 100%;
}
body {
    /* min-height: 100%; */
    background-color: rgba(109, 226, 12, 0.88);
    background: linear-gradient(-45deg, #85bb65, #216C2A);
    background-repeat: no-repeat;
/* Money color background-color: #85bb65 #216C2A; */
}
h1 {
    font-size: 8rem;
}
#mainContainer{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.59) ;
}
#amounth4{
    margin-left: 5%;
}
#srcColumn, #amntColumn {
    padding-right: 28px;
    padding-left: 0px;
}
#next-btn {
    float: right;
}
#calculate-btn{
    margin-left: 43.5%;
}
#add-btn{
    border-radius: 50%;
    float: right;
}
/* #expenseContainer{
    display: none;
} 
 .hid:hover {
    display: inline;
} 