html {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    background-color: rgba(109, 226, 12, 0.88);
    background: linear-gradient(-45deg, #85bb65, #216C2A);
    background-repeat: no-repeat;
/* Money color background-color: #85bb65 #216C2A; */
}
h1 {
    font-size: 8rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#mainContainer{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.59) ;
}
#amounth4{
    margin-left: 5%;
}
#srcColumn, #amntColumn {
    padding-right: 28px;
    padding-left: 0px;
}
#next-btn {
    float: right;
}
#calculate-btn{
    margin-left: 45.5%;
    margin-top: 1.5%;
}
#add-btnI, #add-btnE{
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.59) ;
    margin-left: 41.5%;
}
.buttonText{
    margin-right: 1.5%;
}
#deleteBtnInc, #deleteBtnExp{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.59) ;
    margin-right: 0.5%;
}
#welcome {
    margin-left: 5%;
    color: #ffffff;
    margin-right: 40%; 
}
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
}